<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        {{base-alphabet placeholder="Decoding Alphabet" alphabet=inputAlphabet}}
                    </div>
                    <div class="input-field col s12">
                        {{input name="convertInput" type="text" value=input}}
                        <label class="{{if input.length 'active' ''}}">Input</label>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        {{base-alphabet placeholder="Encoding Alphabet" alphabet=outputAlphabet}}
                    </div>
                    <div class="input-field col s12">
                        {{input class="" name="convertOutput" type="text" placeholder="Encoded String" readonly="" value=output}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action right-align">
        <button class="btn-floating blue white-text"><i class="material-icons">swap_horiz</i></button>
        <button class="btn-floating blue white-text" {{action 'convert'}}><i class="material-icons">shuffle</i></button>
    </div>
</div>
